@import url(colours.css);
@import url(typography.css);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);
@import url(https://fonts.googleapis.com/css?family=Akshar);

button {
    font-family: var(--font-body);
    font-size: 18px;
    border-radius: 10px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
}

button.btn-primary {
    background: var(--primary-blue);
    color: var(--white);
    display: flex;
    justify-content: space-between;
}

button.btn-light {
    background: var(--white-gradient);
    color: var(--black);
}

button.btn-important {
    background: var(--blue-orange-gradient);
    color: var(--white);
    width: 100%;
}

button.btn-text {
    color: var(--primary-blue);
    text-decoration: underline;
    background-color: transparent;
}
button.btn-text:hover {
    transform:scale(1);
    box-shadow:0px 0px 0px rgba(53, 17, 163, 0.2);
    color: var(--accent-orange);
}

button.btn-inactive {
    background: var(--inactive-dark-gray);
    color: var(--white);
}

.btn-primary:hover, .btn-light:hover, .btn-important:hover, .btn-inactive:hover, btn-gray:hover{
    transform:scale(1.02);
    box-shadow:0px 4px 4px rgba(53, 17, 163, 0.2);
}

.main-banner button {
    font-size: 20px;
    padding: 18px 22px;
}

button img{
    height: 15px;
    margin-right: 8px;
}

/* remove this? where is it used */
button.btn-full-width {
    width: 100%;
    justify-content: center;
}

.accordion {
    transition: 0.4s;
    display:inline;
    text-decoration: underline;
    margin-right: 24px;
}

.active, .accordion:hover {
    font-weight:bold;
}

.increment {
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--primary-blue);
    height: 48px;
    min-width: 100px;
    width: 130px;
    padding: 4px 12px;
    background-color: transparent;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0
}

.increment:hover {
    transform:scale(1);
    box-shadow:0px 0px 0px rgba(53, 17, 163, 0.2);
}

.increment span, .increment-wrapper-cart span{
    width: 100%;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    color: var(--primary-blue);
}

/* condense duplicate stuff */
.increment-wrapper-cart {
    border: 2px;
    border-style: solid;
    border-radius: 10px;
    border-color: var(--primary-blue);
    height: 30px;
    min-width: 40px;
    width: 60px;
    padding: 4px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0
}

.btn-icon{
    padding: 0px;
    margin: 0px;
    width: 24px;
    height: 24px;
    border-radius:0px;
    background-color: transparent;
}
button[type="submit"] img{
    height: 24px;
    width: 24px;
}

.btn-gray {
    background-color: var(--background-light-gray);
    object-fit: cover;
    padding: 8px;
    border-radius: 10px;
}

