@import url(colours.css);
@import url(typography.css);

button {
    font: font-body;
    font-size: 16px;
    border-radius: 10px;
    padding: 12px 16px;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 0;
}

button.btn-primary {
    background: var(--primary-blue);
    color: var(--white);
}

button.btn-light {
    background: var(--white-gradient);
    color: var(--black);
}

button.btn-important {
    background: var(--blue-orange-gradient);
    color: var(--white);
}

button.btn-inactive {
    background: var(--inactive-dark-gray);
    color: var(--white);
}

button:hover {
    transform:scale(1.05);
    box-shadow:0px 4px 4px rgba(53, 17, 163, 0.2);
}

.main-banner button {
    font-size: 20px;
    padding: 18px 22px;
    margin-left: 48px;
}