@import url(colours.css);

/* Adding background colour to Top navigation*/
.Top-Nav {
    padding: 20px;
    height: 166px;
    width: 100%;
    background-color: var(--primary-blue);
    color: white;
    border-radius: 0 0 20px 20px;
    
    display: flex;
    justify-content: space-between;
}





/* Nav-Bar Section */
.Nav-Bar ul {
    width: 100%;
    height: 75px;
    background-color: var(--background-light-gray);
    border-radius: 20px;
    padding: 20px;

    list-style-type: none;
    text-decoration: none;

    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.Nav-Button {
    text-decoration: none;
}

/* Main Banner */
.Main-Banner {
    background-color: var(--primary-blue);
    border-radius: 20px;
    width: 100%;
}

/* Styling for the Popular Brands Section in Main Banner */
.Popular-Brands {
    height: 85px;
    width:100%;
    background-color: var(--background-light-gray);
    border-radius: 20px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
}



.Games-Grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-auto-rows: 340px;
    gap: 20px;
    
}

.Console-card {
    grid-column: span 2;
    background-color: var(--background-light-gray);
    margin: 10px;
    border-radius: 20px;

    display: flex;
    align-items: flex-start;
    justify-content: center;
    

}