@import url(colours.css);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans);
@import url(https://fonts.googleapis.com/css?family=Akshar);

:root {
    --font-header: 'Akshar', sans-serif;
    --font-body: 'IBM Plex Sans', serif;
    --line-height-base: 1.6;
    --line-height-heading: 1.2;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-header);
    font-weight: 200;
    line-height: var(--line-height-heading);
    margin: 0 0 0.3rem 0;
}

h1 {
    font-size: 5.5rem;
    font-weight: 700;
}

.main-banner h1 {
    text-shadow: 0px 4px 4px rgba(53, 17, 163, 0.2);
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 2.5rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}

/* Paragraphs */
p {
    font-family: var(--font-body);
    font-size: 1rem;
    line-height: var(--line-height-base);
    margin: 0 0 0.5rem 0;
}

p.text-breadcrumbs {
    color: var(--primary-blue);
}

p.text-breadcrumbs:hover {
    text-decoration: underline;
}

/* Links */
a {
    font-family: var(--font-body);
    font-size: 1rem;
    color: var(--primary-blue);
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: underline;
}

a.light {
    color: var(--white);
}

.nav-button, details, .dropdown-content {
    font-family: var(--font-header);
    color: var(--black);
    line-height: var(--line-height-heading);
    margin: 0 0 1rem 0;
    font-size: 2rem;
}


/* Styling breadcrumbs text */
.breadcrumbs {
    color: var(--primary-blue);
    display: inline;
}

a.breadcrumbs {
    text-decoration: underline;
}

a.breadcrumbs:hover {
    color: var(--accent-orange);
}

.increment-wrapper {
    font-family: var(--font-body);
    font-size: 1.5em;
    color: var(--primary-blue)
}

.increment-wrapper-cart {
    font-family: var(--font-body);
    font-size: 1em;
    color: var(--primary-blue)
}

footer p {
    color: white;
}

.inline {
    display: inline;
}